* {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
}

.mainContainer {
  overflow:hidden;
  overflow-x:hidden;
}